CREATE TABLE IF NOT EXISTS company_tax_obligations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    company_id UUID REFERENCES companies(id) ON DELETE CASCADE,
    title TEXT NOT NULL,
    due_date DATE NOT NULL,
    status TEXT NOT NULL DEFAULT 'Pronto',
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW()
);

-- RLS
ALTER TABLE company_tax_obligations ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view tax obligations of their companies"
ON company_tax_obligations FOR SELECT
USING (
    auth.role() = 'authenticated'
);

CREATE POLICY "Admins and managers can insert tax obligations"
ON company_tax_obligations FOR INSERT
WITH CHECK (
    auth.role() = 'authenticated'
    AND (
        (auth.jwt() ->> 'role') IN ('admin', 'manager')
    )
);

CREATE POLICY "Admins and managers can update tax obligations"
ON company_tax_obligations FOR UPDATE
USING (
    auth.role() = 'authenticated'
    AND (
        (auth.jwt() ->> 'role') IN ('admin', 'manager')
    )
);

CREATE POLICY "Admins and managers can delete tax obligations"
ON company_tax_obligations FOR DELETE
USING (
    auth.role() = 'authenticated'
    AND (
        (auth.jwt() ->> 'role') IN ('admin', 'manager')
    )
);

